<!doctype HTML>

<html>
  <head>

    <title>
      taskgarden
    </title>

  </head>

  <body>

    <form class='js-NewItemForm'>
      <input name='name' type='text' placeholder='what needs to be done?' required>
      <button class='js-NewButton'>add</button>
    </form>

    <div>
      <h3>queue<small class='js-TotalCount'></small></h3>
      <ul class='js-ItemList'> </ul>
      <p class='js-EmptyQueue'>the slate is clean!</p>
    </div>

    <div>
      <h3>tomato pile</h3>
      <ul class='js-FinishedList'> </ul>

      <p class='js-NoneFinished'>no completed tasks yet.</p>
    </div>

    <script src='/scripts/bundle.js'></script>
  </body>


</html>
