

.is-pending {
}

.is-finished {
  text-decoration: line-through;
  color: grey;
}

/* Tomato icon, lol */
.i-tomato {
  margin: 0 4px;
  display: inline-block;
  background: green;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.pomProgress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;
  opacity: 0.5;
}
